.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 70px auto 0;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .searchForm {
        margin: 80px 30px 0;
    }
}

@media screen and (max-width: 540px) {
    .searchForm {
        margin: 90px 14px 0;
    }
}

.searchForm__Form {
    position: relative;
    height: 50px;
    width: 932px;
}

.searchForm__input{
    width: 100%;
    height: 34px;
    background-color: inherit;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #8B8B8B;
    padding: 0 0 0  22px;
    border: 1px solid #E8E8E8;
    border-radius: 50px;
}

/*.searchForm__input:focus {*/
/*    border-bottom: 1px solid #3DDC84;*/
/*}*/

@media screen and (max-width: 540px) {
    .searchForm__input {
        font-size: 18px;
        padding-bottom: 15px;
    }
}

.searchForm__button {
    width: 34px;
    height: 34px;
    background-image: url(../../images/find.svg);
    background-color: initial;
    border: none;
    cursor: pointer;
    padding: 0;
    position:absolute;
    right: -20px;
    bottom: 15px;
}

@media screen and (max-width: 540px) {
    .searchForm__button {
        bottom: 15px;
    }
}

.searchForm__button:hover {
    background-image: url(../../images/find-hover.svg);
}

.searchForm__input-error-text {
    padding-top: 10px;
    color: red;
    font-size: 10px;
    font-weight: normal;
}