@media screen and (max-width: 768px) {
    .navigation {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right:  0;
    }

    .navigation_visible {
        visibility: visible;
        opacity: 1;
        background: rgba(0, 0, 0, .5);
        z-index: 50;
    }
}

.navigation__container {
    width:676px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1040px) {
    .navigation__container {
        width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .navigation__container {
        max-width: 520px;
        height: 100%;
        position: relative;
        background-color: #202020;
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .navigation__container {
        max-width: 320px;
        margin: 0 0 0 auto;
    }
}

.navigation__links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .navigation__links {
        margin-top: 159px;
        flex-direction: column;
        align-items: center;
    }
}

.navigation__link{
    color: white;
    text-decoration: none;
    padding-top: 7px;
    font-size: 13px;
    font-weight: normal;
}

.navigation__link:hover {
    color: #4285F4;
}

.navigation__link:first-child{
    display: none;
}

@media screen and (max-width: 768px) {
    .navigation__link:first-child {
        display: block;
    }

    .navigation__link:hover {
        color: white;
        border-bottom: 1px solid white;
    }
}

.navigation__button {
    border: 2px solid #AAAAAA;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    background-color: inherit;
    padding: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}


.navigation__button:hover {
    border: 0.1px solid #3DDC84;
    width: 100px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .navigation__button {
        margin-bottom: 92px;
    }
}

.navigation__button-text {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0;
    padding-top: 7px;
    padding-left: 2px;
}

.navigation__button-icon {
    display: flex;
    flex-direction: row;
    width: 28px;
    height: 28px;
}

.navigation__button-image {
    width: 10.5px;
    height: 10.5px;
    object-fit: cover;
    margin: 9.75px 9px 9.75px;
}

.navigation__closeButton {
    display: none;
}

@media screen and (max-width: 768px) {
    .navigation__closeButton {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        padding: 0;
        background-color: inherit;
        background-image: url('../../images/close-popup.svg');
        width: 24px;
        height: 24px;
        border: none;
        cursor: pointer;
    }

    .navigation__closeButton:hover {
        background-image: url('../../images/close-button-hover.svg');
    }
}
